<h1><%= @post.markdown_title %></h1>

<div class="row">
  <div class="col-md-8">
    <h4><%= @post.markdown_body %></h4>
    <%= image_tag(@post.image) if @post.image? %>
    <small>
       <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
       submitted <%= time_ago_in_words(@post.created_at) %> ago by
       <%= @post.user.name %> <br>
    </small>
    <h4><%= @post.comments.count %> Comments: </h4>
    <div class="media">
      <div class="media-body">
        <% @post.comments.each do |comment| %>
          <p><%= comment.body %></p>
          <small>
            <%= image_tag(comment.user.avatar.tiny.url) if comment.user.avatar? %>
            submitted <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.name %>
          </small>
          <br>
          ---<br>
        <% end %>
      </div>
    </div>
  
  <div class="col-md-8">
    <%= render partial: 'comments/form', locals: {topic: @topic, post: @post, comment: @comment} %>
  </div>

  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
  </div>
</div>
<%end%>